body{
	padding-top: 0px;
	overflow-x: hidden;
}
header{
	margin: 0px;
	padding: 0px;
}

ul{
	width: 100%;
	list-style-type: none;
	text-align: center;
	margin-bottom: 80px;
	position: relative;
}
ul.sticky{
	width: 100%;
	list-style-type: none;
	text-align: center;
	background: #00f;
	position: fixed;
	z-index: 2;
	background-color: #eee;
	box-shadow: 2px 2px 2px #b2b2b2;
	height: 75px;
}

ul.nav li{
	display: inline-block;

}
li a {
	display: inline-block;
}
img.logo{
	margin-top: 80px;
	margin-left: 23%;
	height: 80px; 
	width:80px;
}

img.logo.sticky{
	margin-top: 12px;
	margin-left: 23%;
	width: 50px;
	height: 50px;
	z-index: 4;
}
.top{
	margin: 10px;
	margin-top: 30px;
	height: 32px;
	width: 150px;
	border-radius: 4px;
	background-color: #ebebeb;
	border-color: #bbb;
	border: none;
	font-weight: 500;
	font-size: 16px;
	color: #444;
}
.top.sticky{
	margin: 10px;
	margin-top: 20px;
	height: 32px;
	width: 150px;
	border-radius: 4px;
	background-color: #ebebeb;
	border-color: #bbb;
	border: none;
	font-weight: 500;
	font-size: 16px;
	color: #444;
	background-color: #c2c2c2;
	
	
}
.pull-right{
	margin-right: 30px;
}
.col-sm-6{
	text-align: center;
}
#myCarousel{
	background: url(images/carousel-placeholder.png);
}
.carousel-inner > .item > h3,
  .carousel-inner > .item > a > h3 {
  	  height: 250px; 
      width: 100%;
      margin: auto;
      background: linear-gradient(
	      rgba(0, 0, 0, 0.7), 
	      rgba(0, 0, 0, 0.7)
    );
}
.right.carousel-control, .left.carousel-control {
      display: none;
}
.carousel-indicators{
	z-index: -1;
}
.item h3{
	padding: 80px;
	margin: 50px;
	text-align: center;
 	color: #fff;
 	font-family: 'Roboto';
 }
p{
	float: right;
	margin-right: 60px;
	margin-top: 20px;
}
@font-face {
    font-family: 'Roboto';
    src: url("fonts/Roboto-BoldItalic_2.ttf") /* TTF file for CSS3 browsers */
}
.row1{
	height:30%;
	width: 100%;
	display: block;
}
.col-md-6{
	text-align: center;
}
.text{
	margin: 10px;
	padding: 80px;
}
.text h3 {
	color: #3F51B5;
}
.text h4 {
	color: #666;
}
footer{
	width: 100%;
	height: 200px;
	margin-top: 20px;
}
footer h4 {
	color: #666;
}
.sponser1{
	margin: 10px;
	height: 40px;
	width: 238px;
	margin: 20px;
	text-align: center;
	background-image: url(images/techinasia-bw.png);
}
.sponser1:hover{
	background-image: url(images/techinasia-rgb.png);
	transition-property: background-image;
}
.sponser2{
	margin: 30px;
	height: 30px;
	width: 50px;
	background-image: url(images/inc42-bw.png);
}
.sponser2:hover{
	background-image: url(images/inc42-rgb.png);
	transition-property: background-image;
}
.btn-grp {
	text-align: center;
}
a{
	color: #666 ;
}
a:hover{
	color: #666;
}
button{
	width: 120px;
	margin: 20px;
}
.chat1{
	position: relative;
	width: 100%;
	border-radius: 5px;
	background: url(images/blue-blurb-without-text.png);
	color: #fff;
	height: 100px;
}
.chat1 h4 {
	padding: 24px;
}


